@model SistemaWebEmpleado.Models.Empleado

    <div>
        <h2> Editar</h2>
        @using (Html.BeginForm("Edit", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <p>
                @Html.LabelFor(model => model.Nombre):
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </p>
            <p>
                @Html.LabelFor(model => model.Apellido):
                @Html.EditorFor(model => model.Apellido)
                @Html.ValidationMessageFor(model => model.Apellido)
            </p>
             <p>
                @Html.LabelFor(model => model.DNI):
                @Html.EditorFor(model => model.DNI)
                @Html.ValidationMessageFor(model => model.DNI)
            </p>
             <p>
                @Html.LabelFor(model => model.Legajo):
                @Html.EditorFor(model => model.Legajo)
                @Html.ValidationMessageFor(model => model.Legajo)
            </p>
             <p>
                @Html.LabelFor(model => model.Titulo):
                @Html.EditorFor(model => model.Titulo)
                @Html.ValidationMessageFor(model => model.Titulo)
            </p>
            <p>
                <input type="submit" value="Edit" />
            </p>
            @Html.ActionLink("Volver", "Index")
        }
    </div>